*{
    margin: 0;
    padding: 0;
}
body{
    font-family:serif;
}
form{
    display: flex;
    flex-direction: column;
    border: 0.01px solid black;
    width: 30rem;
    padding: 1rem;
    margin:28vh 30vw;
}
form label{
    margin: 0.5rem 0rem;
}
form input{
    height:1.5rem;
}
form input:{
    border:none;
}
button{
    margin-top: 1.5rem;
    height: 2.5rem;
    width: 10rem;
    background: rgb(123, 188, 226);
    border: none;
    font-weight: 600;
    margin-left: 34%;
    color: rgb(250, 249, 249);
    cursor:pointer;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
form h2{
margin-bottom: 0.5rem;
margin-left: 35%;
font-size: 2rem;
}
button:hover{
background: rgb(5, 4, 41);
color:white
}