*{
    margin: 0;
    padding: 0;
    
}
a{
    text-decoration: none;
    color: rgb(155, 155, 155);
    cursor: pointer;
}
.main{
    display: flex;
}
.sidebar{
    width: 20vw;
    height: 70vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.options{
    width: 60vw;
    background: rgba(240, 240, 240, 0.644);
    height: 100vh;
}
.sidebar img{
    position: absolute;
    width: 8rem;
    top: 2rem ;
    left: 2rem;
}
.sidebar ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 8rem 3rem;
    list-style: none;
}
.sidebar ul li{
    margin: 1.3rem 0rem;
}
.sidebar ul li a{
    font-size: 1rem;
}
.sidebar ul li a:hover{
    color: black;
}
.i1,.i2,.i3,.i4{
    position:absolute;
}
.i3{
    top: 35vh;
    left:1rem;
}
.i1{
    top:24vh;
    left: 1rem;
}
.i2{
    top: 45.5vh;
    left: 1.3rem;
}
.i4{
    top: 56.5vh;
    left: 1rem;
}.options h2{
    margin: 3rem 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.head{
    display: flex;
}
#date{
    font-size: 1rem;
    margin-top: 3.4rem;
    margin-left: 30rem;
}
.search{
    position: absolute;
    top: 6rem;
    left: 21.5vw;
}
.search-input{
    position: absolute;
    height: 2rem;
    width: 25rem;
    top:6rem ;
    left: 22rem;
    border: 0.5px solid rgba(240, 240, 240, 0.479);
    background: rgba(240, 240, 240, 0.644);
    padding: 0.2rem;
    padding-left: 0.5rem;
    border-radius: 20px;
    color: rgb(155, 155, 155);
    outline: none;
}
.panel1{
    display: flex;
    margin-top: 5rem;
}
.jobs{
background: white;
width: 60%;
height: 50vh;
margin-left: 2rem;
border-radius: 15px;
}
.jobs h2{
    margin-top: 1rem;
    font-size: 1.2rem;
}
.new{
    background: white;
    height: 50vh;
    width: 30%;
    border-radius: 10px;
    margin-left: 1rem;
}
.new h2{
    margin-top: 1rem;
    font-size: 1.1rem;
    padding: 0.2rem -0.6rem;
}
.jobs hr, .new hr{
    border:0.002rem solid rgb(243, 242, 242);
    margin-top: -2rem;
}
.git{
    display: none;
}
.panel2{
    background: white;
    width: 90%;
    height: 50vh;
    margin-left: 2rem;
    border-radius: 15px; 
    margin-top: 5rem;
    display: none; 
}
.panel2 h2{
    padding-top: 1rem;
    font-size: 1.2rem;
    display: flex;
}
.panel2 hr{
    border:0.002rem solid rgb(243, 242, 242);
    margin-top: -2rem;   
}
.avatar{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    padding: 3.5rem;
}
.git-data{
    display: flex;
}
.user-info p{
    margin-top: -2rem;
    font-weight: 700;
    margin-left: 2rem;
}
.user-info ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-left: -1rem;
    margin-top: 1.2rem;
}
.user-info ul li{
    margin-left: 3rem;
}
.panel3 iframe{
    width: 100%;
    height: 50vh;
}
.choose{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1rem 1.6rem;
}
.choose img{
    height: 3rem;
    width: 3rem;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px rgb(63, 63, 63);
}
.meet{
    display: none;
    margin-top: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 20px;
    border: 5px solid black;
}
.more{
    display: flex;
    flex-direction: column;
    background: #36454f;
}
.more hr{
    border:0.1px solid whitesmoke;
}
.more h2{
    font-size: 1rem;
    color: whitesmoke;
    margin-left: 3rem;
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.jobList{
    margin: 2rem 2rem;
}
.jobList h4{
    margin: 1rem 2rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(34, 206, 160);
}
.appli img{
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
}
.appli{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-top: 1rem;
}
.appli div{
    display: flex;
}
.appli div h3{
    margin-top: 1.3rem;
    margin-left: 1rem;
    font-size: 1rem;
}
.darkMode{
    background: #36454f;
}