*{
    padding: 0;
    margin: 0;
}
body{
    font-family:Nunito Sans;
}
.hamburger{
    display: none;
}
.res-menu{
    display: none;
}
.logo h2{
    font-size: 2rem;
    margin-left: 8vw;
}
nav{
    display: flex;
    margin-top: 1rem;
}
ul{
    list-style: none;
    display: flex;
    margin-left: 10vw;
    margin-top: 0.3rem;
}
li{
margin:0rem 1.3rem ;
padding: 0.5rem 0rem;
cursor: pointer;
font-weight: 600;
}
nav a{
    margin-left: 20%;
}
.login,nav button{
   width: 9rem;
   height: 2.5rem;
   border: none;
   background: #3b6df5;
   margin-left: 20%;
   border-radius: 20px;
   color: white;
   font-size: 1rem;
   font-family:Nunito Sans;
   cursor: pointer;
}
.hero-section{
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 15vh;
    font-family: Montserrat;
    font-size: 150%;
}
.l1{
    width: 100%;
    text-align: center;
}
.hero-section p{
    width: 100%;
    text-align: center;
    font-weight: 500;
    margin-top: 1rem;
    font-size: 100%;
    line-height: 2rem;
    
}
.sb-btn{
    height: 7vh;
    width: 35%;
    border: none;
    margin-top:5%;
    margin-left: 32%;
    border-radius: 30px;
    font-size: 1.1rem;
    background: #3b6df5;
    color: white;
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px gainsboro;
}
.arrow{
    position: absolute;
    left:65%;
    top:65vh;
    height: 9rem;
}
.slack{
    position: absolute;
    left: 8%;
    top:20%;
    width: 17%;
}
.msg{
    position: absolute;
    left: 7vw;
    top: 50vh;
    width: 15vw;
}
.slack2{
    position: absolute;
    left: 80vw;
    top:30vh;
    width: 15vw; 
    transform: rotate(30deg);
}
.crm{
    height: 80vh;
    background: rgba(245, 245, 245, 0.747);
    margin-top: 45vh;
     
}
.crm h3{
    padding-top:65vh;
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
    font-family:'Times New Roman', Times, serif;
}
.crm-img{
    position: absolute;
    /* display: none; */
    left: 17rem;
    height: 30rem;
    width: 60vw;
    top:85vh;
    box-shadow: 3px 3px 3px 3px rgba(240, 239, 239, 0.884);
    border-radius: 20px;
}
.features{
    margin:2rem 10vw;
}
.features h1{
    margin-top: 4rem;
    line-height: 3rem;
    font-size: 250% ;
    margin-left: 10%;
}
.feature1{
    display: flex;
    justify-content: space-between;
}
/* .features-content{
    padding-left: 10%;
} */
.content{
    margin-left: 15vw;
}
.content h1{
    font-size: 1.5rem;

}
.content p{
    padding-left: 10%;
    font-size: 1.2rem;
    width: 70%;
    text-align: left;
    line-height: 2rem;
    color: rgba(139, 137, 137, 0.952);
}
.feature1 img{
   margin-left: -5vw;
}
.feature-arrow{
    position: absolute;
    left:36vw; 
    top:82rem;
    height: 8rem;
    display: none;
}
.content button{
    height: 2rem;
    width: 8rem;
    border: none;
    margin-top:1rem;
    margin-left: 10%;
    border-radius: 20px;
    font-size: 0.8rem;
    background: #3b6df5;
    color: white;
    cursor: pointer;
    
}
.metrics{
margin-top:5% ;
display: flex;
justify-content: space-around;
}
.one,.two{
padding-top: 10%;
}
.metrics h4{
    width: 12rem;
    margin-top: 1rem;
    line-height: 1.5rem;
    color:rgba(139, 137, 137, 0.952);
}
.three img{
    height: 40vh;
}
.subscribe{
    margin-top: 3rem;
}
.subscribe img{
margin-left: 30vw;
height: 50vh;
}
.subscribe h1{
    font-size: 2rem;
    text-align: center;
    margin-top: 1rem;
    line-height: 2.5rem;
}
.subscribe button{
    height: 2.5rem;
    width: 20%;
    border: none;
    /* margin-top:1.5rem;
    margin-left: 25vw; */
    margin-top: 2%;
    border-radius: 20px;
    font-size: 1rem;
    background: #3b6df5;
    color: white;
    cursor: pointer;
    margin-left: 41vw;
}
footer{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}
hr{
    margin-top: 2rem;
    border: 0.5px solid whitesmoke;
}
.f1,.f2{
    padding: 1rem 6rem;
    color:rgba(139, 137, 137, 0.952);
    line-height: 2rem;
}
.feature-head{
    margin-left: 10vw;
}
.nav-links{
    display: flex;
    align-items: center;
    
}
.nav-links li{
    margin: 0 30px;
    
}
.nav-links li a{
    color: whitesmoke;
}
.menu-btn{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px ;
    cursor: pointer;
    display: none;
}
.nav-links{
    display: flex;
    align-items: center;
    display: none;
}
.nav-links li{
    margin: 0 30px;
    
}
.nav-links li a{
    color: whitesmoke;
}
.menu-btn{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px ;
    cursor: pointer;
    display: none;
}
@media only screen and (max-width: 720px) {
    .nav-links{
        display: block;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background: rgb(58, 47, 47);
        margin-top: -900px;
        transition: all 0.5s ease;
    }
    .nav-links li{
        margin: 30px auto;
    }
    
    .menu-btn{
        display: block;
    }
    nav ul{
        flex-direction: column;
    }
    .hero-section{
        margin-left: 5%;
        margin-right: 5%;
    }
    .hero-section p{
        font-size: 80%;
    }
    .l1{
        font-size: 150%;
    }
    .sb-btn{
        height: 2.5rem;
        width: 60vw;
        font-size: 1rem;
        margin-left:15vw;
    }
    .crm h3{
        font-size: 120%;
        padding-top: 35%;
    }
    .feature-head{
        margin:5vh 5vw ;
        font-size: 180%;
        text-align: center;
    }
    .feature1{
        flex-direction: column;
    }
    .content{
        margin: 3vh 3vw;
        text-align: center;
    }
    .content p{
        text-align: center;
        width: 100%;
        margin-left:-10%;
    }
    .metrics{
        flex-direction: column;
        
    }
    .one,.two{
        margin-left: 15vw;
        text-align: center;
    }
    .one h1,.two h1{
        text-align: left;
        margin-left: 30vw;
    }
    .one h4,.two h4{
        margin-left: 10vw;
    }
    .three img{
        margin-left: 20vw;
        width: 70%;
    }
    .subscribe img{
        margin-left: 10vw;
        width: 90vw;
        height: 40vh;
    }
    .subscribe button{
        width: 65vw;
        margin-left: 18vw;
        margin-top: 5vh;
    }
    footer{
        display: flex;
        flex-direction: column;
    }
    .footer-detail{
        display: flex;
        flex-direction: column;
    }
    .f1,.f2{
        padding-left: 0vw;
        margin-left: 18vw;
    }
    .slack,.msg,.slack2,.arrow{
        display: none;
    }
    .crm-img{
        height: 40%;
        width: 90vw;
        margin-left:-80vw;
        margin-top: 10%;
    }
    .crm{
        height: 40vh;
    }
    .hamburger{
        display: block;
        position: absolute;
        height: 5%;
        width: 11%;
        top:5%;
        left:85%;
    }
    .res-menu{
       display: none;
    }
    .res-menu ul{
        display: flex;
        flex-direction: column;
        padding-top: 20%;
        margin-left:30% ;
    }
    .res-menu ul li{
        margin-top: 15%;
    }
    nav{
        display: none;
    }
    .mobile-menu{
        position:absolute;
        display: flex;
        top:0%;
        left: 10%;
        background: white;
        height: 100vh;
        width: 80%;
        text-align: center;
     }
     .login{
       position: absolute;
       top: 60%;
       left: 5vw;
     }
  }